fastapi
uvicorn
sse_starlette

dotenv

langchain
langsmith
langserve
langchain_community 
langchain-ollama
langchain_chroma 
langchainhub

chromadb
faiss-cpu
bs4
pypdf

langchain-google-genai


streamlit

wikipedia
arxiv